* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*full screen*/
  background: linear-gradient(to left, rgb(74, 122, 145), rgb(48, 79, 94));
  z-index: -1;
  align-items: center;

}


section{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;


}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
  margin-top: 100px;

}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.headline {
  margin-top: 100px;
  position: absolute;
  top: 70%;
  left: 6%;
  font-size: 100px;
  font-weight: bold;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;

}

.hero::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}

.about {
  padding-top: 15px;
  margin-left: 110px;
  margin-right: 110px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.header {
  margin-top: 230px;
  font-weight: bold;
}

.header2{
  margin-top: 80px;
  font-weight: bold;
}


.attractions {
  padding: 10 0;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.att-img img {
  width: 100%;
}

.att-img {
  position: relative;

}

.attractions .fas {
  font-size: 15px;
  color: #a37a29;
  font-weight: bold;
}

.att-details {
  padding: 20px;
  text-align: justify;
}

.att-details h4 {
  font-weight: 600;
  margin-top: 20px;
}

.att-details fas {
  margin-right: 5px;
}

.att-box {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  margin-bottom: 30px;
}

/* Container  */

.container {
  margin-top: 3%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 5px #000;
  transition: all 0.25s;
}

.dropdown-content {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  display: none;
  position: relative;
  background-color: #efefef;
  min-width: 160px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
  text-align: center;
  text-color: #fff;
  padding: 15px;
}


.dropdown:hover .dropdown-content {
  display: block;
}


/* container */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
  position: relative;
  margin-right: 110px;
  margin-left: 110px;
  margin-top: 100px;
}

.gallery h1{
	font-weight: bold;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top: 50px;

}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  font-weight: bold;
}

.rw:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.clm {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


table{
 background: #efefef;
 border-collapse: separate;
 box-shadow: 3px 3px 15px 1px rgba(37, 73, 214, 0.18);
 text-align: left;
 margin-right: 110px;
 margin-left: 110px;
 font-weight: bold;
}

th{
 color: #efefef;
 background-color: #35424e;
 padding: 0.75rem 2rem;
 text-transform: uppercase;
 letter-spacing: 0.1rem;
 font-size: 1.8rem;
 font-weight: bold;
 text-shadow: -2px 2px 2px rgb(168, 168, 168);
}

td{
 padding: 1rem 2rem;
 font-weight: bold;
 font-size: 17px;
}

a:link, a:visited {
 color: rgb(105, 104, 104);
 background-color: transparent;
 text-decoration: underline;
  }

.banner {
 background-image: url(images/ns9.jpg);
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 padding-top: 14%;
 background-color: #efefef;
}

.banner-highlights {
 height: 300px;
 margin-bottom: 120px;
 padding-top: 60px;
 padding-left: 50px;
 background: rgba(0, 0, 0, 0.7);
 text-align: center;
 color: #fff;
}

.booking-btn {
 width: 120px;
 padding: 8px 0;
 outline: none !important;
 border: 2px solid #fff;
 border-radius: 50px;
 background: transparent;
 color: #fff;
 margin-top: 25px;
}